* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #16161a;
    color: #fffffe;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black;
    border-width: 1px;
    padding: 10px;
    position: sticky;
    top: 0px;
    background-color: #7f5af0;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 90%;
}

.profile-pic{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#selfie{
    max-width: 400px;
    width: 100%;
    margin: 30px;
}

.about-me{
    width: 100%;
    max-width: 800px;
    font-family:"proxima-nova",sans-serif;
    margin: 20px;
}

.about-me h3 {
    font-size: 30px;
    line-height: 40px;
}

.about-me p {
    font-size: 14px;
    line-height: 20px;
    color: #94a1b2;
    margin: 15px 0px;
}

.work-button {
    border: solid black 1px;
    border-radius: 5px;
    padding: 15px 50px;
    background-color: #7f5af0;
}

.work{
    font-family:"proxima-nova",sans-serif;
}

.work-title{
    text-align: center;
    font-size: 40px;
    line-height: 50px;
}

.work-subtitle{
    text-align: center;
    color: #94a1b2;
    max-width: 1000px;
    margin: 0px auto;
    font-size: 12px;
}

.chip-wrapper{
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin: 15px;
}

.chip{
    border: solid 1px;
    border-radius: 100px;
    padding: 3px 10px;
    margin: 5px 0px;
}

@media screen and (max-width: 1300px) {
    .container{
        display: block;
    }
    .about-me{
        text-align: center;
        margin: 0px auto;
    }

    .about-me p{
        margin: 10px;
    }

    .work-subtitle{
        padding: 0px 80px;
    }
}

/* .projects{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    gap: 20px;
    padding: 0 20px;
} */

footer {
    padding: 20px;
    background: #7f5af0;
}

.footer-license {
    text-align: center;
    color: #16161a;
}
